body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
    margin: 0;
    background: linear-gradient(90deg, #f29292, #8b8bf4);
}

.required::after {
    content: "*";
    color: red;
    margin-left: 5px;
}
